.upload-bg{
  background-image: url("../assets/upload-bg.jpeg");
  background-size: cover;
  height: 95vh;
  color: aliceblue;
  width: 170vh;
  margin-left: -40px;
}
.upload-text{
  margin-top: 20px;
}
.uploaded-notes{
  margin-left: -350px;
}