.start-btn{
    margin-left: 190px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
.days{
    margin-left: 150px;
    font-size: 13px;
    color: rgb(5, 115, 240);
    font-weight: 500;
    margin-bottom: 0px;
}
.card {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    opacity: 0.95;           

}

.card-text{
    font-size: 15px;
    font-family: Garamond;
    font-weight: 500;  
}
.card-title{
    font-size: 16px;
    font-weight: 500;
    font-family:'"Lucida Console", "Courier New", monospace';
}
.text-muted{
    font-size: 10px;
    font-family:'"Lucida Console", "Courier New", monospace';
    font-weight: 500;
}
.card-img-top{
    height: 200px;
}
.search-container {
  max-width: 500px;
  margin: 20px auto;
}

.form-control {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
}

.form-control:focus {
  outline: none;
  border-color: #6200ea;
  box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.2);
}
.search-btn{
    margin-left: 100px;
    margin-right: 10px;
}