.job-container {
  display: flex;
}
.jobs-list {
  list-style-type: none;
}
.employment-text {
  font-size: 25px;
}
.salary-text {
  font-size: 25px;
  margin-left: 40px;
}
.employment-list {
  list-style-type: none;
}
.salary-list {
  list-style-type: none;
}
.company-logo{
    height: 100px;
    width: 100px;
}