.navbg{
    font-family: 'Poppins', sans-serif;
    height: 100dvh; 
}
.sidenav-bg{
    background-color: rgb(85, 184, 241);
    color: rgb(189, 215, 238);
    position: fixed;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-logo{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin:20px;
}
.sidenav-logo{
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-top: 30px;
}
.logout-btn{
    margin-left: 1000px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
}
.signout-btn{
    height: 40px;
    width: 200px;
    margin-left: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.nav-item{
    color: black;
}
.sidenav-profile-img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin: 10px;
}
.line{
    background-color: aliceblue;
    height: 3px;
    margin-top: 10pxx;
}
.sidebar-container {
  transition: width 0.3s ease;
}
.sidebar-container.collapsed {
  width: 80px !important;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.back-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
